:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.mainContainer>* {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}


table {
    border-collapse: collapse;
}

th {
    /* row border */
    border-bottom: 1px solid #ffa600;
}

td.mat-cell {
    /* row padding */
    padding: 20px 0;
    border: none;
}

tr.mat-row {
    /* row border */
    border: 1px solid #ffa600;
}
